Thumbs.db
*.pyc
*.spy*
*.gexf
*.bak
*.spec
Cles-epo.txt
*.log
Patent2Net/DONNEES
Patent2Net/cles-epo.txt
Patent2Net/*.spec
Patent2Net/specs/
Patent2Net/build/
Patent2Net/dist/
Patent2Net/lextab.py
Patent2Net/yacctab.py
Patent2Net/Cles-epo.txt
tempocomp/
distribution/
specs/
DATA/
